.challenge {
  padding: 20px 10%;

  min-height: calc(100vh - 190px);
}

.challenge h1 {
  margin: 0;
}

.details {
  margin: 0 20%;
  border: solid 1px #669999;
  padding: 10px;
}

@media (max-width: 670px) {
  .challenge {
    padding: 20px 5%;
  }
  .details {
    margin: 0 5%;
  }
}
