body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e6f2ff;

    text-align: center;
}

body h2 {
    font-size: 40px;
}

body h3 {
    font-size: 25px;
}

header {
    background-color: #669999;
    color: ghostwhite;

    text-align: left;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

header h1 {
    margin: 10px 0 0 0;
    padding-left: 40px;
}

header p {
    margin-top: 0;
    padding-left: 80px;
}

footer {
    background-color: #669999;
    color: ghostwhite;

    padding: 5px 0;
}

footer h4 {
    font-size: 20px;
    color: black;
    margin: 10px;
}

a {
    color: ghostwhite;
}

a:hover {
    text-decoration: underline;
}

.description {
    margin: 0 50px 0 50px;
}

.challenge {
    margin: 0 20%;
    border: solid 1px #669999;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-rows: 15vh 1fr 100px;
}

.links {
    margin: 10px 20px;
}

.links:hover {
    width: 30px;
}

@media (max-width: 550px) {
    .challenge { margin: 0 10%; }
}

@media (max-width: 405px) {
    .challenge { margin: 0; }
}