main hr {
  margin: 5vh 0;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile img {
  height: 25vh;
  width: 25vh;

  margin: 0 5vw;
  border-radius: 100%;
}

.abstract {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.abstract h1,
p, li {
  margin: 10px 0 0;
}

.message {
  text-align: justify;
}

.message p {
  font-size: 18px;
}

.message p + p {
  margin-top: 1rem;
}

@media (max-width: 700px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile img {
    margin: 0 0 5vw 0;
  }

  .abstract h1, p, li {
    text-align: center;
    font-size: 1.1rem;

    margin: 0 0 0.5rem 0;
  }
}
