main {
  padding: 10vh 20vw;
}

main hr {
  margin: 5vh 0;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile img {
  height: 30vh;
  width: 30vh;

  margin: 0 5vw;
  border-radius: 100%;
}

.abstract {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.abstract h1, p {
  margin: 0;
}

.message {
  text-align: justify;
}

.message p + p {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  main {
    padding: 10vh 10vw;
  }
  
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile img {
    margin: 0 0 5vw 0;
  }

  .abstract h1, p {
    text-align: center;
    font-size: 1.1rem;

    margin: 0 0 0.5rem 0;
  }
}