main > p {
  font-size: 18px;
}

.details:hover {
  transition: 1s;
  box-shadow: 1px 1px #669999;
  background-color: #FFF;
  border-color: #FFF;
}

h1, .details h2 {
  text-align: center;

  margin-top: 0;
}

p, .details p {
  text-align: center;
}

.details img {
  max-width: 200px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2.5% 5%;
  border: 1px solid #669999;
}