footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #669999;

  width: 100vw;
  height: 10vh;

  position: absolute;
  bottom: 0px;
}

footer a {
  padding: 0 20px;
}

footer a img:hover {
  width: 30px;
  transition: 0.3s;
}