html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #e6f2ff;
  color: #121214;
  font-family: "Roboto", sans-serif;

  margin: 0;
  padding: 0;
  border: 0;
}

main {
  min-height: 80vh;
}

a {
  color: #121214;
}

header a,
footer a {
  color: white;
  text-decoration: none;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}
