html {
  position: relative;

  width: 100vw;
  min-height: 100%;
}

body {
  background-color: #e6f2ff;
  color: #121214;
  font-family: 'Roboto', sans-serif;

  padding: 0;
  border: 0;
  margin: 0 0 10vh;

  overflow-x: hidden;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  animation: transitionIn 1s;

  padding: 10vh 20vw;
}

@media (max-width: 600px) {
  main {
    padding: 10vh 10vw;
  }
}

a {
  color: #121214;
}

header a,
footer a {
  color: white;
  text-decoration: none;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}
